<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <h1 class="text-center mb-4 titulo">NUEVO CURSO</h1>
      <div class="upper-buttons">
        <a [routerLink]="['/Profile']" class="btn">
          <i class="back uil-arrow-left"></i>
        </a>
      </div>
      <div class="section">
        <div class="form">
          <div class="form-group">
            <div class="form text-center">
              <div class="form-group mt-2">
                <input
                  name="codigoCurso"
                  type="text"
                  class="form-style"
                  placeholder="Ingrese el código del curso"
                  #codigoCurso
                />
                <i style="color: #ffeba7" class="input-icon uil uil-award"></i>
              </div>
              <div class="form-group mt-2">
                <input
                  name="cajaNombre"
                  type="text"
                  class="form-style"
                  placeholder="Ingrese el nombre"
                  #cajaNombre
                />
                <i style="color: #ffeba7" class="input-icon uil uil-award"></i>
              </div>
              <div class="form-group mt-2">
                <input
                  name="fechaInicio"
                  type="text"
                  class="form-style"
                  placeholder="Seleccione la fecha de inicio"
                  #fechaInicio
                  onfocus="(this.type='date')"
                  onblur="if(!this.value)this.type='text'"
                />
                <i style="color: #ffeba7" class="input-icon uil uil-calendar-alt"></i>
            </div>
              <div class="form-group mt-2">
                <input
                  name="fechaFin"
                  type="text"
                  class="form-style"
                  placeholder="Seleccione la fecha de finalización"
                  #fechaFin
                  onfocus="(this.type='date')"
                  onblur="if(!this.value)this.type='text'"
                />
                <i style="color: #ffeba7" class="input-icon uil uil-calendar-slash"></i>
              </div>

              <button (click)="nuevoCurso()" class="btn mt-4">
                Crear curso
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
