<div class="container">
  <h1 class="titulo">LISTA DE RONDAS</h1>
  <div class="upper-buttons">
    <a *ngIf="rolUsuario == '1'" [routerLink]="['/charlas/charlasRonda/newRonda']" class="btn btn-large"
      ><i class="uis uil-plus"></i
    ></a>
  </div>

  <div *ngFor="let ronda of rondas; let i = index" class="ronda">
    <div class="ronda-header">
      <h4 class="txtLabel">Ronda {{ ronda.descripcionModulo }}</h4>
      <span
        >Duración: {{ getHoras(ronda.duracion) }} hrs
        {{ ronda.duracion % 60 }} mins</span
      >
    </div>
    <div class="ronda-details">
      <p>
        <span>Fecha de Presentación:</span>
        {{ ronda.fechaPresentacion | date : "longDate" : "es" }}
      </p>
      <p>
        <span>Fecha de Cierre:</span>
        {{ ronda.fechaCierre | date : "longDate" : "es" }}
      </p>
      <p>
        <span>Fecha Límite de Votación:</span>
        {{ ronda.fechaLimiteVotacion | date : "longDate" : "es" }}
      </p>
    </div>
    <div class="ronda-footer">
      <div
        *ngIf="rolUsuario != '2'"
      >
        <a (click)="eliminarRonda(ronda.idRonda)" class="btnAction"
          ><i class="uis uil-trash-alt"></i
        ></a>
      </div>
      <a [routerLink]="['charlasRonda', ronda.idRonda]" class="btn"
        >Ver charlas</a
      >
    </div>
  </div>
</div>
