<div class="container">
  <h2>DASHBOARD</h2>
  <a routerLink="new">Nueva charla</a>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis, harum
    atque exercitationem sapiente unde? Veritatis cum placeat nisi commodi quasi
    tempora atque laborum voluptatibus sint? Velit ipsa nisi sed?
  </p>
  <div class="">
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
    </ul>
  </div>
</div>
