<div class="container">
  <h1 class="titulo">{{ charlaDetalles.charla.titulo }}</h1>
  <div class="upper-buttons">
    <a [routerLink]="['/charlas/charlasRonda', idRonda]" class="btn btn-large">
      <i class="uil-arrow-left"></i>
    </a>
  </div>

  <div class="perfil-card">
    <div class="perfil-header">
      <img
        *ngIf="charlaDetalles.charla.imagenCharla"
        [src]="charlaDetalles.charla.imagenCharla"
        alt="Imagen de la charla"
        class="perfil-img"
      />
      <div class="perfil-info">
        <p>
          <strong>Descripción: </strong>{{ charlaDetalles.charla.descripcion }}
        </p>
        <p>
          <strong>Tiempo: </strong>{{ charlaDetalles.charla.tiempo }} minutos
        </p>
        <p>
          <strong>Fecha propuesta: </strong
          >{{ charlaDetalles.charla.fechaPropuesta | date : "longDate" : "es" }}
        </p>
      </div>
    </div>
    <div class="comentarios-section">
      <h3>
        Comentarios
        <div class="comentarios-buttons">
          <a
            [routerLink]="[
              '/charlas/charlasRonda/newComentario',
              idRonda,
              charlaDetalles.charla.idCharla
            ]"
            class="comentarios-add"
          >
            <i class="uil uil-plus"></i>
          </a>
          <button (click)="toggleComentarios()" class="comentarios-toggle">
            <i
              [class]="
                comentariosAbiertos ? 'uil-arrow-down' : 'uil-arrow-right'
              "
            ></i>
          </button>
        </div>
      </h3>

      <div *ngIf="comentariosAbiertos">
        <div
          *ngFor="let comentario of charlaDetalles.comentarios"
          class="comentario"
        >
          <p><strong>Usuario: </strong>{{ comentario.usuario }}</p>
          <p><strong>Contenido: </strong>{{ comentario.contenido }}</p>
          <p>
            <strong>Fecha: </strong
            >{{ comentario.fecha | date : "longDate" : "es" }}
          </p>
        </div>
      </div>
    </div>
    <div class="recursos-section">
      <h3>
        Recursos
        <button (click)="toggleRecursos()" class="recursos-toggle">
          <i
            [class]="recursosAbiertos ? 'uil-arrow-down' : 'uil-arrow-right'"
          ></i>
        </button>
      </h3>

      <div *ngIf="recursosAbiertos">
        <div *ngFor="let recurso of charlaDetalles.recursos" class="recurso">
          <p><strong>Url: </strong>{{ recurso.url }}</p>
          <p><strong>Nombre: </strong>{{ recurso.nombre }}</p>
          <p><strong>Descripción: </strong>{{ recurso.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
