<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <h1 class="text-center mb-4 titulo">EDITAR PERFIL</h1>
      <div class="upper-buttons">
        <a [routerLink]="['/profile']" class="btn">
          <i class="back uil-arrow-left"></i>
        </a>
      </div>
      <div class="section">
        <div class="form">
          <div class="text-center mb-4">
            <div class="imagen-contenedor">
              <img
                [src]="fileContent || getImagenPerfil()"
                alt="Imagen de perfil"
                class="perfil-imagen"
                (click)="cambiarImagen()"
              />
              <button class="editar-boton" (click)="cambiarImagen()">
                <i class="uil uil-camera"></i>
              </button>
            </div>
            <input
              type="file"
              #cajaFile
              accept="image/*"
              style="display: none"
              (change)="subirFichero($event)"
            />
          </div>

          <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
            <div class="comentario">
              <label>CAMBIAR DATOS</label>
              <div class="form-group mt-2">
                <input
                  type="text"
                  id="nombre"
                  class="form-style"
                  formControlName="nombre"
                  placeholder="Ingrese su nombre"
                />
                <i class="input-icon uil uil-user"></i>
              </div>

              <div class="form-group mt-2">
                <input
                  type="text"
                  id="apellidos"
                  class="form-style"
                  formControlName="apellidos"
                  placeholder="Ingrese sus apellidos"
                />
                <i class="input-icon uil uil-user-plus"></i>
              </div>
            </div>
            <div class="comentario">
              <label for="newPassword">CAMBIAR CONTRASEÑA</label>
              <div class="form-group mt-2">
                <input
                  type="password"
                  id="newPassword"
                  class="form-style"
                  formControlName="newPassword"
                  placeholder="Ingrese su nueva contraseña"
                />
                <i class="input-icon uil uil-lock"></i>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn mt-4">GUARDAR CAMBIOS</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
