<div class="container">
  <form #profileForm="ngForm">
    <div class="form-group mt-2">
      <img [src]="alumno?.imagen" alt="Imagen no disponible" class="card-img" />
    </div>
    <div class="form-group mt-2">
      <input
        name="cajaNombre"
        type="text"
        class="form-style"
        #cajaNombre
        value="{{ alumno?.nombre }}"
      />
      <i class="input-icon uil uil-user"></i>
    </div>
    <div class="form-group mt-2">
      <input
        name="cajaApellidos"
        type="text"
        class="form-style"
        #cajaApellidos
        value="{{ alumno?.apellidos }}"
      />
      <i class="input-icon uil uil-user"></i>
    </div>
    <div class="form-group mt-2">
      <input
        name="cajaEmail"
        type="text"
        class="form-style"
        #cajaEmail
        value="{{ alumno?.email }}"
      />
      <i class="input-icon uil uil-at"></i>
    </div>
    <div class="form-group mt-2">
      <input
        name="cajaCurso"
        type="text"
        class="form-style"
        #cajaCurso
        value="{{ alumno?.curso }}"
      />
      <i class="input-icon uil uil-book"></i>
    </div>
  </form>
</div>
