<div class="container">
  <h1 class="titulo">CHARLAS DE LA RONDA {{ idRonda }}</h1>
  <div class="upper-buttons">
    <a [routerLink]="['/charlas']" class="btn btn-large"
      ><i class="uil-arrow-left"></i
    ></a>
    <a
      *ngIf="!hasCharla"
      [routerLink]="['/charlas/charlasRonda/new', idRonda]"
      class="btn btn-large"
      ><i class="uis uil-plus"></i
    ></a>
  </div>

  <div *ngFor="let charlaRonda of charlasRonda; let i = index" class="charla">
    <div class="charla-header">
      <h4 class="txtLabel">Charla {{ i + 1 }}: {{ charlaRonda.titulo }}</h4>
      <span
        >Tiempo: {{ getHoras(charlaRonda.tiempo) }} horas
        {{ charlaRonda.tiempo % 60 }} minutos</span
      >
    </div>
    <div class="charla-details">
      <p>
        <span class="span-charla-details">Descripción: </span
        >{{ charlaRonda.descripcion }}
      </p>
      <p>
        <span class="span-charla-details">Fecha Propuesta: </span
        >{{ charlaRonda.fechaPropuesta | date : "longDate" : "es" }}
      </p>
      <p>
        <span class="span-charla-details">Estado: </span>
        <span
          [ngClass]="
            charlaRonda.estadoCharla == 'PROPUESTA'
              ? 'spanPropuesta'
              : 'spanAceptada'
          "
          >{{ charlaRonda.estadoCharla }}</span
        >
      </p>
      <p>
        <span class="span-charla-details">Propuesta por: </span
        >{{ charlaRonda.usuario }}
      </p>
    </div>
    <div class="ronda-footer">
      <a class="btn-round">  
        <img
          src="https://cdn-icons-png.flaticon.com/512/3375/3375274.png"
          alt="Votar Icono"
          class="icon-img"
        />
      </a>
      <a [routerLink]="['/charlas/charlasRonda/detallesCharla', idRonda, charlaRonda.idCharla]" class="btn"
        >Ver detalles</a
      >
    </div>
  </div>
</div>
