<mat-toolbar *ngIf="showMenu">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon class="menu-icons" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="menu-icons" *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <img class="img-toolbar" src="assets/images/logo.png" />
  {{message}}
</mat-toolbar>

<mat-sidenav-container [ngClass]="showMenu ? '' : 'displayNone'">
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="mat-list-item-icon" matListItemIcon>calendar_month </mat-icon>
        <span class="mat-list-item-text">Calendario</span>
      </mat-list-item>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="profile"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="mat-list-item-icon" matListItemIcon>person</mat-icon>
        <span class="mat-list-item-text">Perfil</span>
      </mat-list-item>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="charlas"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="mat-list-item-icon" matListItemIcon>chat</mat-icon>
        <span class="mat-list-item-text">Charlas</span>
      </mat-list-item>
      <mat-list-item (click)="logOut()">
        <mat-icon class="mat-list-item-icon" matListItemIcon>logout</mat-icon>
        <span class="mat-list-item-text">Cerrar Sesión</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="showMenu">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet *ngIf="!showMenu"></router-outlet>