<mat-toolbar *ngIf="showMenu">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon class="menu-icons" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="menu-icons" *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <img class="img-toolbar" src="assets/images/logo.png" />
  APP VOTACIONES
</mat-toolbar>

<mat-sidenav-container [ngClass]="showMenu ? '' : 'displayNone'">
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.mode === 'over' && sidenav.toggle()"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="mat-list-item-icon" matListItemIcon>home</mat-icon>
        <span class="mat-list-item-text">Home</span>
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.mode === 'over' && sidenav.toggle()"
        routerLink="profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="mat-list-item-icon" matListItemIcon>person</mat-icon>
        <span class="mat-list-item-text">Profile</span>
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.mode === 'over' && sidenav.toggle()"
        routerLink="charlas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="mat-list-item-icon" matListItemIcon>chat</mat-icon>
        <span class="mat-list-item-text">Charlas</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="showMenu">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet *ngIf="!showMenu"></router-outlet>

