@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  overflow-x: hidden;
}

mat-toolbar {
  background-color: #4a6fa5;
  color: #e5e5e5;
}

mat-sidenav {
  width: 200px;
  padding: 16px 0;
}

mat-list-item {
  color: #4a6fa5;
  padding: 20px 0;
  margin: 15px 25px;
}
mat-list-item:hover .mat-list-item-text {
  color: #4a6fa5;
}

mat-list-item.active {
  background-color: #4a6ea5b7;
}
mat-list-item.active .mat-list-item-text,
mat-list-item.active mat-icon {
  color: #ffffff;
}

.content {
  height: calc(100svh - 98px);
  border-radius: 10px;
  padding: 16px;
  max-width: 1520px;
  margin: 0 auto;
  font-size: 16px;
}

mat-sidenav-container {
  height: calc(100svh - 65px);
}

.displayNone {
  display: none;
}

.menu-icons {
  color: white;
}
