
* {
  overflow-x: hidden;
}

mat-toolbar {
  background-color: #4a6fa5;
  color: #e5e5e5;
}

mat-sidenav {
  width: 200px;
  padding: 16px 0;
}

mat-list-item {
  color: #4a6fa5;
  padding: 20px 0;
  margin: 15px 25px;
}

mat-list-item:hover {
  transform: scale(1.1) translateX(-10px);
}

mat-list-item:hover .mat-list-item-text {
  color: #4a6fa5;
}

mat-list-item.active {
  background-color: #4a6ea5b7;
  border: none;
}

mat-list-item.active .mat-list-item-text,
mat-list-item.active mat-icon {
  color: #ffff;
}

.content {
  height: 100%;
  padding: 16px;
}

mat-sidenav-container {
  height: calc(100svh - 65px);
}

.displayNone {
  display: none;
}

.menu-icons {
  color: white;
}

.img-toolbar {
  width: 50px;
  margin-right: 15px;
}

mat-sidenav-container {
  background-color: #4a6ea5b7;
}
mat-sidenav {
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  border-right: #4a6ea5b7 1px solid;
}


.hidden {
  display: none;
}
