<div class="container">
  <h1 class="titulo">PERFIL DE USUARIO</h1>

  <div class="perfil-card">
    <div class="perfil-header">
      <img [src]="getImagenPerfil()" class="perfil-img" />
      <div class="perfil-info">
        <h2>{{ perfil.nombre }} {{ perfil.apellidos }}</h2>
        <p><strong>Correo: </strong> {{ perfil.email }}</p>
        <p><strong>Estado: </strong> <span [ngClass]="perfil.estadoUsuario ? 'active' : 'inactive'">{{ perfil.estadoUsuario ? 'Activo' : 'Inactivo' }}</span></p>
        <p><strong>Rol: </strong> {{ perfil.role }}</p>
        <p><strong>Curso: </strong> {{ perfil.curso }}</p>
        <p><strong>ID Curso: </strong> {{ perfil.idCurso }}</p>
      </div>
    </div>

    <div class="perfil-footer">
      <a [routerLink]="['edit', perfil.idUsuario]" class="btn btn-large">Editar Perfil</a>
    </div>
  </div>


  <div class="mt-5" *ngIf="rolUsuario == '1'">
    <div *ngFor="let alumnosCurso of alumnosCursos">
      <h2>Alumnos de {{ alumnosCurso.curso.nombre }} ({{ alumnosCurso.numeroAlumnos }})</h2>

      <div class="perfil-alumno-card mb-1" *ngFor="let alumno of alumnosCurso.alumnos">
        <div class="perfil-header">
          <img
            *ngIf="perfil.imagen"
            [src]="alumno.alumno.imagen || 'assets/images/default-profile.png'"
            class="perfil-img"
          />

          <div class="perfil-info">
            <h3>{{ alumno.alumno.usuario }}</h3>
            <p><strong>Correo: </strong> {{ alumno.alumno.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5" *ngIf="rolUsuario == '3'">
    <h2>Lista de Cursos ({{listaCursos.length}})</h2>

    <div *ngFor="let curso of listaCursos" class="perfil-curso-card mb-1 curso-section">
      <div class="perfil-header">
        <div class="perfil-info">
          <h3>{{ curso.nombre }}
            <div class="curso-buttons">
              <button (click)="toggleCurso(curso.idCurso)" class="curso-toggle">
                <i [class]="cursosAbiertos[curso.idCurso] ? 'uil uil-minus' : 'uil uil-plus'"></i>
              </button>
            </div>
          </h3>
          <div *ngIf="cursosAbiertos[curso.idCurso]" class="curso-detalles">
            <div>
              <p><strong>ID Curso: </strong> {{ curso.idCurso }}</p>
            <p><strong>Fecha Inicio: </strong> {{ curso.fechaInicio | date: 'longDate' }}</p>
            <p><strong>Fecha Fin: </strong> {{ curso.fechaFin | date: 'longDate' }}</p>
            <p>
              <strong>Activo: </strong> {{ curso.activo ? 'Sí' : 'No' }}
              <button (click)="toggleActivo(curso)" class="btn-estado">
                {{ curso.activo ? 'Desactivar' : 'Activar' }}
              </button>
            </p>
            </div>
            <div>
              <button class="btn-miembros">Miembros
                <i class="uil uil-users-alt"></i>
              </button>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
